<h1>Demo Page</h1>

<%= link_to("I'm a primary button link", "#", class: "btn btn-primary") %>
<%= link_to("I'm a secondary button link", "#", class: "btn btn-secondary") %>
<%= link_to("I'm a info button link", "#", class: "btn btn-info") %>
<%= link_to("I'm a danger button link", "#", class: "btn btn-danger") %>
<%= link_to("I'm a warning button link", "#", class: "btn btn-warning") %>
<%= link_to("I'm a success button link", "#", class: "btn btn-success") %>

<div class="bg-slate-100 p-5">
  <br>
  <%= link_to("I'm a normal link", "/servers") %>
  <br>
  <%= link_to("I'm a normal link", "/xxx") %>
  <br>
</div>

<div class="form-input">
</div>

<br>

<div class="prose">
  <h1>This is a test</h1>
  <p>A paragraph</p>

  <blockquote>
    Some text
  </blockquote>
</div>

<%= form_with do |form| %>
  <div class="grid grid-cols-1 gap-2">
    <%= form.label(:someting, "I'm a label") %>
    <%= form.text_field(:someting) %>

    <%= form.label(:email, "Email") %>
    <%= form.email_field(:email, placeholder: "user@example.com") %>

    <%= form.label(:date, "Date") %>
    <%= form.date_field(:date) %>
  </div>
<% end %>
