<p>
  <%= t("users_mailer.change_email_reversion.greeting", email: @email) %>
</p>

<p>
  <%= t("users_mailer.change_email_reversion.requested_change", email: @email, change_email: @change_email) %>
</p>

<p>
  <%= t("users_mailer.change_email_reversion.confirmation_sent", change_email: @change_email) %>
</p>

<p>
  <%= t("users_mailer.change_email_reversion.revert_info") %>
</p>

<p>
  <%= link_to(
    t("users_mailer.change_email_reversion.link_text"),
    edit_users_change_email_reversion_url(token: @change_email_reversion_token)
  ) %>
</p>

<p>
  <%= t("users_mailer.change_email_reversion.verification_code_label") %>
</p>

<p>
  <%= @change_email_reversion_code %>
</p>
