<div class="d-flex flex-row gap-2 <%= wrapper_justify_class %>" data-turbo-prefetch="true">
  <% if show_first? || show_last? %>
    <nav role="navigation">
      <ul class="pagination">
        <% if show_first? %>
          <% if pagination.first_page? %>
            <li class="page-item disabled">
              <span class="page-link"><%= first_icon %></span>
            </li>
          <% else %>
            <li class="page-item">
              <%= link_to(first_icon, pagination.first_page_url, class: "page-link") %>
            </li>
          <% end %>
        <% end %>

        <% if show_last? %>
          <% if pagination.last_page? %>
            <li class="page-item disabled">
              <span class="page-link"><%= last_icon %></span>
            </li>
          <% else %>
            <li class="page-item">
              <%= link_to(last_icon, pagination.last_page_url, class: "page-link") %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  <% end %>

  <nav role="navigation" class="pagination-prev-next">
    <ul class="pagination">
      <% if pagination.has_prev_page? %>
        <li class="page-item">
          <%= link_to(prev_icon, pagination.prev_page_url, class: "page-link") %>
        </li>
      <% else %>
        <li class="page-item disabled">
          <span class="page-link">
            <%= prev_icon %>
          </span>
        </li>
      <% end %>

      <% if pagination.has_next_page? %>
        <li class="page-item">
          <%= link_to(next_icon, pagination.next_page_url, class: "page-link") %>
        </li>
      <% else %>
        <li class="page-item disabled">
          <span class="page-link">
            <%= next_icon %>
          </span>
        </li>
      <% end %>
    </ul>
  </nav>

  <% if show_goto? %>
    <nav role="navigation">
      <ul class="pagination">
        <li class="page-item pagination-goto">
          <%= form_with(method: :get, url: request.path) do |form| %>
            <%= RequestHelper.new(request).hidden_fields_for_query({}, ["page"]) %>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                name="page"
                value="<%= pagination.page %>"
                data-controller="select-text"
                data-action="focus->select-text#all"
              >
              <button type="submit" class="page-link" type="button"><%= go_icon %></button>
            </div>
          <% end %>
        </li>
      </ul>
    </nav>
  <% end %>
</div>

<% if show_badges? %>
  <div class="d-flex flex-row gap-1 <%= wrapper_justify_class %> mb-2">
    <% if show_page? %>
      <span class="badge text-bg-secondary">
        page <%= pagination.page %>
      </span>
    <% end %>

    <% if show_total_pages? %>
      <span class="badge text-bg-secondary">
        total_pages <%= pagination.total_pages %>
      </span>
    <% end %>

    <% if show_per_page? %>
      <span class="badge text-bg-secondary">
        per_page <%= pagination.per_page %>
      </span>
    <% end %>

    <% if show_total_count? %>
      <span class="badge text-bg-secondary">
        total_count <%= pagination.total_count %>
      </span>
    <% end %>
  </div>
<% end %>
