<div class="d-flex flex-row gap-2 justify-content-center" data-turbo-prefetch="true">
  <% if show_first? %>
    <nav role="navigation">
      <ul class="pagination">
        <% if pagination_cursor.start_cursor? %>
          <li class="page-item disabled">
            <span class="page-link"><%= first_icon %></span>
          </li>
        <% else %>
          <li class="page-item">
            <%= link_to(first_icon, pagination_cursor.start_cursor_url, class: 'page-link') %>
          </li>
        <% end %>
      </ul>
    </nav>
  <% end %>

  <nav role="navigation" class="pagination-cursor-prev-next">
    <ul class="pagination">
      <% if pagination_cursor.has_before_cursor? %>
        <li class="page-item">
          <%= link_to(prev_icon, pagination_cursor.before_cursor_url, class: 'page-link') %>
        </li>
      <% else %>
        <li class="page-item disabled">
          <span class="page-link">
            <%= prev_icon %>
          </span>
        </li>
      <% end %>

      <% if pagination_cursor.has_after_cursor? %>
        <li class="page-item">
          <%= link_to(next_icon, pagination_cursor.after_cursor_url, class: 'page-link') %>
        </li>
      <% else %>
        <li class="page-item disabled">
          <span class="page-link">
            <%= next_icon %>
          </span>
        </li>
      <% end %>
    </ul>
  </nav>
</div>

<% if show_goto? %>
  <div class="d-flex flex-row gap-1 justify-content-center mb-2">
    <nav role="navigation">
      <ul class="pagination">
        <li class="page-item pagination-cursor-goto">
          <%= form_with(method: :get, url: request.path) do |form| %>
            <%= RequestHelper.new(request).hidden_fields_for_query({}, ['indicator', 'cursor', 'order']) %>
            <div class="input-group">
              <%= select_tag(
                'indicator',
                options_for_select([['After', 'after'], ['Before', 'before']], pagination_cursor.indicator),
                id: nil,
                class: 'form-select'
              ) %>
              <input
                type="text"
                class="form-control"
                name="cursor"
                value="<%= pagination_cursor.cursor %>"
                data-controller="select-text"
                data-action="focus->select-text#all"
              >
              <%= select_tag(
                'order',
                options_for_select([['Asc', 'asc'], ['Desc', 'desc']], pagination_cursor.order),
                id: nil,
                class: 'form-select'
              ) %>
              <button type="submit" class="page-link" type="button"><%= go_icon %></button>
            </div>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
<% end %>

<% if show_badges? %>
  <div class="d-flex flex-row gap-1 justify-content-center mb-2">
    <% if show_total_pages? %>
      <span class="badge text-bg-secondary">
        total_pages <%= pagination_cursor.total_pages %>
      </span>
    <% end %>

    <% if show_per_page? %>
      <span class="badge text-bg-secondary">
        per_page <%= pagination_cursor.per_page %>
      </span>
    <% end %>

    <% if show_total_count? %>
      <span class="badge text-bg-secondary">
        total_count <%= pagination_cursor.total_count %>
      </span>
    <% end %>
  </div>
<% end %>
