<%= form_with(
  method: :get,
  url: servers_path,
  html: { "aria-label": t("servers.index.filter.title") },
  data: {
    controller: "servers",
    action: "change->servers#filter"
  }
) do |form| %>
  <%= render(Servers::IndexFilterComponent.new(
    form: form,
    selected_value_game_id: @selected_value_game_id,
    selected_value_period: @selected_value_period,
    selected_value_country_code: @selected_value_country_code
  )) %>
<% end %>

<% if @servers.empty? %>
  No results
<% else %>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 col-xl-7">
      <%= render(PaginationComponent.new(@pagination, first_icon: "1st")) %>

      <div class="d-flex flex-column gap-3 mb-3">
        <% @servers.each do |server| %>
          <div>
            <%= render(Servers::IndexResultComponent.new(
              server: server,
              server_stats_hash: @server_stats_hash[server.id] || {},
              period: @period
            )) %>
          </div>
        <% end %>
      </div>

      <%= render(PaginationComponent.new(@pagination, first_icon: "1st")) %>
    </div>
  </div>
<% end %>
