<div class="card mb-4">
  <% if empty? %>
    <div class="card-body text-center text-body-secondary py-5">
      <p class="mb-0"><%= @empty_message %></p>
    </div>
  <% else %>
    <div class="table-responsive">
      <table class="table table-hover table-striped align-middle mb-0 admin-table">
        <thead class="table-light">
          <tr>
            <% @columns.each do |col| %>
              <th scope="col" class="text-nowrap">
                <%= column_name(col) %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @collection.each do |item| %>
            <tr>
              <% @columns.each do |col| %>
                <td>
                  <% cv = column_value(col) %>
                  <% opts = column_opts(col) %>
                  <% if show_copy?(col) %>
                    <% copy_val = copyable_value(item, cv, opts) %>
                    <% if copy_val.present? %>
                      <%= cell_with_copy_button(item, cv, copy_val) %>
                    <% else %>
                      <%= cell_value(item, cv) %>
                    <% end %>
                  <% else %>
                    <%= cell_value(item, cv) %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
