<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
  <title><%= yield(:title).presence || default_title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield(:head) %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap-icons.min" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <meta name="turbo-prefetch" content="true">
</head>
<body data-controller="browser-time-zone" data-turbo-prefetch="false">
  <% if Rails.env.development? && params.key?(:dev_info) %>
    <%= render("shared/dev_info") %>
  <% end %>
  <%= render("shared/noscript") %>
  <%= render("shared/header") %>
  <%= render("shared/nav") %>
  <%= render("shared/main") %>
  <%= render("shared/footer") %>
</body>
</html>
